@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>
<p>
    @Html.ActionLink("New Customer", "New", "Customers", new { @class = "btn btn-primary btn-lg" })
</p>
<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
@section scripts
{
    <script type="text/javascript">
        $(document)
            .ready(function () {
                CustomersController.init($("#customers"));
            });
    </script>
}
